@import "../../../assets/scss/variables";

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.info-input {
    // width: 80%;
    // height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.threshold-inputs {
    & input {
        width: 100%;
        padding: 5px 3px;
        height: 45px;
        font-size: 30px;
    }
}

label {
    margin: 0px;
    color: $light-gray;
}
